@import 'base';
@import 'nav';



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .principal{
             height: 100vh;
          
          h5{
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 2.7px;
          }
      
        
          h1{
              font-size: 60px;
              font-style: normal;
              font-weight: 400;
              line-height: 100px; /* 125% */
              margin-left: 30%;
          }
          p{
              
              font-family: Barlow;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 25px; 
          }}
     

      .contain1{
        background-image: url(../assets/home/background-home-mobile.jpg);
    }

    .pbchild{
        background: #FFF;
        width: 180px;
        height: 180px;
        border-radius: 100%;
        p{
            color: #0B0D17;
            font-size: 32px;
            letter-spacing: 2px;
        }
    }
      

}

    /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .principal{
        height: 90vh;
       
        h5{
            color: #D0D6F9;
            text-align: center;
            font-family: Barlow Condensed;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 3.375px;
            text-transform: uppercase;
        }
        h1{
            color: #FFF;
            font-family: 'Bellefair', serif;
            font-size: 100px;
            font-style: normal;
            font-weight: 400;
            line-height: 150px;
            text-transform: uppercase;
            margin-left: 25%;
            
        }
        p{
            color: #D0D6F9;
            text-align: center;
            font-family: Barlow;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; 
        }
    
      
        }

.contain1{
    background-image: url(../assets/home/background-home-tablet.jpg);
}

.pbchild{
    background: #FFF;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    p{
        color: #0B0D17;
        font-size: 32px;
        letter-spacing: 2px;
    }
}
 
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.contain1{
    background-image: url(../assets/home/background-home-desktop.jpg);
}

.principal .principala{
   
    // h5{
    //     font-size: .8em;
    //     letter-spacing: 3.375px;
    //     text-transform: uppercase;
    // }
    // h1{
    
    //     font-size: 150px;      
    // }
    // p{
    //     font-size: 16px;
    //     line-height: 28px; 
    // }

   .pbchild{
        background: #FFF;
        width: 242px;
        height: 242px;
        border-radius: 100%;
        p{
            color: #0B0D17;
            font-size: 32px;
            letter-spacing: 2px;
        }
    }
     hr{
      position: relative;
     
     }
  }
}