@import 'base';

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

// .principalb{
//   img{
//     width: 60%;
//     height: 40%;
//   }
// }

.princ{
  border: solid 1px #fff;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
// .b3{
//   background-image: url(../assets/crew/image-douglas-hurley.png);
//   background-size: cover;
//   height: 80vh;
// }
.menu-mob {
   display: none;
  }

  .principal{
    height: 90vh;
   
    h5{
        color: #D0D6F9;
        text-align: center;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.375px;
        text-transform: uppercase;
    }
    h1{
        color: #FFF;
        font-family: 'Bellefair', serif;
        font-size: 150px;
        font-style: normal;
        font-weight: 400;
        line-height: 150px;
        text-transform: uppercase;
    }
    p{
        color: #D0D6F9;
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; 
    }

   .pbchild{
        background: #FFF;
        width: 242px;
        height: 242px;
        border-radius: 100%;
        p{
            color: #0B0D17;
            font-family: 'Bellefair', serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
        }
    }
     hr{
      position: relative;
     
     }
  }
  

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}   
    .princ{
      border: solid 1px #fff;
      width: 60px;
      height: 60px;
      border-radius: 100%;
   
    }
    .principalc{
      flex-direction: row;
    }
    .menu-mob {
        display: block;
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
        ul{
            height: 30vh;
            padding: 0 5%;
        }
       }
    .sidebar {
        position: fixed;
        height: 100%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
        transition: 0.5s ease-in-out;
      }
      
      .burger {
        position: absolute;
        right: 5%;
      }
      
      .content {
        border: 1px solid black;
        width: 100%;
      }
      
      input[type=checkbox] {
        display: none;
      }
      
      input:checked ~ .sidebar {
        transform: translateX(-100%);
      }

      .menu{
        display: none;
      }

      hr{
        display: none;
      }

      .contain{
        height: 110vh;
        background-size: cover;
    }
      .contain1{
        background-image: url(../assets/home/background-home-mobile.jpg);
    }
    .contain2{
      background-image: url(../assets/destination/background-destination-mobile.jpg);
    }
    .contain3{
      background-image: url(../assets/crew/background-crew-mobile.jpg);
    }
    .contain4{
      background-image: url(../assets/technology/background-technology-mobile.jpg);
    }

    .principal{
      flex-wrap: wrap-reverse;
        height: 100vh;
        
        h5{
            color: #D0D6F9;
            text-align: center;
            font-family: Barlow Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.7px;
            text-transform: uppercase;
        }
    
      
        h1{
            color: #FFF;
            text-align: center;
            font-family: Bellefair;
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: 100px; /* 125% */
            text-transform: uppercase;
        }
        p{
            color: #D0D6F9;
            text-align: center;
            font-family: Barlow;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; 
        }
    
       .pbchild{
            background: #FFF;
            width: 150px;
            height: 150px;
            p{
                color: #0B0D17;
                text-align: center;
                font-family: 'Bellefair', serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.25px;
            }
        }
      }
      
}

    /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

.princ{
  border: solid 1px #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  flex-direction: row;
}
.principalc{
  flex-direction: row;
}
.contain{
  height: 110vh;
  background-size: cover;
}

.contain1{
    background-image: url(../assets/home/background-home-tablet.jpg);
}
.contain2{
  background-image: url(../assets/destination/background-destination-tablet.jpg);
}
.contain3{
  background-image: url(../assets/crew/background-crew-tablet.jpg);
  
}
.contain4{
  background-image: url(../assets/technology/background-technology-tablet.jpg);
}
.menu{
    height: 13vh;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.principal{
   h1{

    font-size: 60px;
    margin-left: 30%;
 
}
.h1commander{

  font-size: 2.5em;
  
}
}
hr{
    display: none;
  }

 
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
.princ{
  border: solid 1px #fff;
  width: 80px;
  height: 80px;
  border-radius: 100%;

}

.principalc{
  flex-direction: column;
}
.contain{
  height: 100vh;
  background-size: cover;
}
.contain1{
    background-image: url(../assets/home/background-home-desktop.jpg);
}
.contain2{
  background-image: url(../assets/destination/background-destination-desktop.jpg);
}
.contain3{
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  height: 140vh;
}
.contain4{
  background-image: url(../assets/technology/background-technology-desktop.jpg);
}
hr{
    display: block;
    width: 30vw;
    height: .2%;
    opacity: 0.3;
    background: #FFF;
    position: absolute;
    left: 15%;
    z-index: 1;
  }
  .principal{
    height: 90vh;
    
    h5{
        color: #D0D6F9;
        font-family: Barlow Condensed;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.725px;
        text-transform: uppercase;
  
    }
    .h5commander1{
      color: #FFF;
      font-family: "Barlow Condensed";
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 4.725px;
      text-transform: uppercase;
  }


    h1{
        color: #FFF;
        font-family: Bellefair;
        font-size: 150px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
      .h1commander{
    color: #FFF;
    font-family: Bellefair;
    font-size: 3.1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
    p{
        color: #D0D6F9;
        font-family: Barlow;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }

   .pbchild{
        background: #FFF;
        width: 274px;
        height: 274px;
        border-radius: 100%;
        p{
            color: #0B0D17;
            font-family: 'Bellefair', serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
        }
    }
  }
}